*{
    font-family: 'Inria Sans', sans-serif;
    font-weight: 800;
    
}

/* -----------------------------
----- M E N U ----------------- */

#navbar {
    font-size: 18px;
    font-weight: bold;    
    color: rgb(235, 242, 235);
    background-color: rgb(59, 178, 135);
    
}

#navbar button:hover {
    font-size: 18px;
    font-weight: bold;
    color: rgb(235, 242, 235);
    background-color: rgb(59, 178, 135);

}

#fotodoc{
    width: 30%;
    border-radius: 100%;
    border: 3px solid rgb(235, 242, 235);
    margin: 5px;
    
}

#cardoc {
    color: rgb(235, 242, 235);
    border: 3px solid rgb(59, 178, 135);
    background-color: rgb(59, 178, 135);
    border-radius: 5px;
    margin: 5px;
   
}

#head2 {
    background-color: rgb(59, 178, 135);
    border-radius: 5px;
    font-weight: normal;
    font-style: italic;
    font-size: 10px;
}

body {
    background-image: url(./assets/Fondo.PNG);
}

.petColor {
    color: #3BB287;
}

.petColor:hover {
    color: #3BB287;
}

.bGap {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    transition-duration: 500ms;
}
.icon {
    width: 40px;
    transition-duration: 500ms;
    margin-top: 10px;
    margin-bottom: 5px;
}


.iGap:hover {
    border-bottom: 3px solid #3BB287;
}

.bGap:hover {
    border-top: 3px solid #3BB287;
}

.icon:hover {
    width: 45px;
}

#btn1 {
    background-color: rgb(235, 242, 235);
}

#fotologo{
    width: 140px;
    background-color: rgb(235, 242, 235);
    border-radius: 6px;
    margin: 3px;
    padding: 3px;
}


