*{
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 1200px;
    height: 1000px;
    background: #ebf2eb;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header {
    height: 30%;
    background: #3bb287;
    margin: 0.5em auto;
}

#contenido {
    height: 30%;
    background: #f5954b;
    margin: 0.5em auto;
}
#destacado{
    height: 37%;
    background: #ffffff;
    margin: 0.5em auto;
}