*{
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans', sans-serif;
}

 

body{
    background-image: url(/assets/icons/WhatsApp\ Image\ 2022-12-05\ at\ 8.48.31\ AM.jpeg);
    
}


#header{
    height: 30%;
    background-color: rgb(59, 178, 135);
    border-radius: 1em;
    margin: 1em;
}


/Barra de navegacion superior/
#navbar {
    font-size: 18px;
    font-weight: bold;    
    color: rgb(235, 242, 235);
    background-color: rgb(59, 178, 135);
}

#fotologo{
    width: 140px;
    
    border-radius: 6px;
    margin: 3px;
    padding: 3px;
}
#botonDesplegable{
    font-size: 18px;
    font-weight: bold;    
    color: rgb(235, 242, 235);
    background-color: rgb(59, 178, 135);
    margin: 1em;
}
#menu{
    font-size: 18px;
    font-weight: bold;    
    color: rgb(235, 242, 235);
    background-color: rgb(59, 178, 135);
    margin: 1em;
}



/Publicaciones/
#publicacion1{

margin: 30px;
border: 2px solid gray;



}

#rowPubli{
margin-right: 20px;

}

#publicacion{
margin: 10px;
}

#imgPublicacion1{
    
    margin: 10px;
    margin-left: 3px;
    border-radius: 5px;
    height: 300px;
    width: 400px;

  
   
}

#iconoGrupo{
    border-radius: 50%;
   margin-top: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    padding: 5px;
    float: right;
    
}

#textoPubli{
    text-align: left;
}




/Barra de navegacion PetFF/

.petColor {
    color: #3BB287;
}

.petColor:hover {
    color: #3BB287;
}

.bGap {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    transition-duration: 500ms;
}
.icon {
    width: 40px;
    transition-duration: 500ms;
    margin-top: 10px;
    margin-bottom: 5px;
}

#estetos {
    width: 30px;
    transition-duration: 500ms;
}

.iGap:hover {
    border-bottom: 3px solid #3BB287;
}

.bGap:hover {
    border-top: 3px solid #3BB287;
}

.icon:hover {
    width: 45px;
}

#estetos:hover {
    width: 35px;
}