*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/modoNormal.png);
    padding-top: 10px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 25px;

}
h1{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

p{
    font-size: 16px;
    color:#000000;
    text-align: center;
}

a{
    text-decoration: none;
    color: #000000;
}

/*Encabezado*/
#encabezado{
    background-color:#EBF2EB;
}
#Buscar:hover{
    background-color: #3BB287;
}

#titulo {
padding-top: 40px;
padding-bottom: 30px;
}

.descripcion{
    font-size: 16px;
    color:#000000;
    text-align: center;
}


.card-img{ /*Para modificar Imagenes de categorias*/
    max-width: 100%;
    border-radius: 50%; 
    border: solid 2px #3BB287;
}


/*Banner*/
.slide{
    margin-top: 20px;
}


/*Notas*/
.Categoria{
    padding-top: 40px;
}

.card{ /*Tarjetas de notas*/
    width: 250px; /*Para mantener el ancho fijo*/
    border-radius: 25px;
    background-color:#FFFFFF;
    margin: 10px; 
    border-color: #3BB287 ;
}

/*Imagenes de notas*/
.imagen-content img{
    height: 250px;
    width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#BotonLeer{
    border: none;
    font-size: 18px;
    padding: 8px 16px;
    background-color:#3BB287;
    border-radius: 10px;
    margin: 14px; 
}

/*carrusel*/
#carouselExampleSlidesOnly img{
    height: 300px;
    width: 150px;
}


/*Carrusel de notas*/
#card .carousel-item {
    justify-content: center;
}

#card .carousel-item .row {
    justify-content: center;
}

#card .carousel-item.active,
#card .carousel-item-end,
#card .carousel-item-start {
    display: flex;
}

#card .carousel-inner {
    overflow: visible;
}



/*Para las notas/articulos informativos*/
#notas{
  margin: 50px; 
}


/*Espacio vacio*/
.space {
    margin: 150px;
}


/* barra de navegacion de abajo */

.icon {
    width: 35px;
    transition-duration: 500ms;
    margin-top: 10px;
    margin-bottom: 5px;
}

.icon:hover {
    width: 30px;
}

#estetos {
    width: 28px;
    transition-duration: 500ms;
}

#estetos:hover {
    width: 23px;
}

#news {
    width: 45px;
    transition-duration: 500ms;
}

#news:hover {
    width: 40px;
}

.iGap:hover {
    border-bottom: 3px solid #3BB287;
}

.bGap:hover {
    border-top: 3px solid #3BB287;
}