body {
    background-image: url("/assets/iconos/modoNormal\(3BB287_15\).png");
    background-color: transparent;
    font-family: 'Inria Sans', sans-serif;
    font-size: 25px;
}

/* .container{
    display: flex;
    flex-wrap: wrap;
} */

.row {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    cursor: pointer;
}

/*usuarioMenu*/

#iconoPerfil{
    width: 30px;
    margin-right: 10px;
}

#logomenu{
    width: 150px;
    color: #3BB287;
}

/*contacto e imagen de perfil*/

#Img_perfil{
    border-radius: 50%;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.listaDescripcion{
    list-style: none;
    font-size: 20px;
    margin-top: 1rem;
    padding: 2rem 0;
}
/*boton editar perfil*/

.btn{
    border-radius: 12px;
    background-color: #3BB287;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.19);
}

/*servicios y boton de mas*/
.servicios{
    text-align: left;
}


.btnMas {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    border-color: #3BB287;
    font-size: 30px;
}

/*galeria*/

.gallery-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding-top: 10px;
}


/*Espacio vacio*/
.space {
    margin: 90px;
}

/* barra de navegacion de abajo */

.petColor {
    color: #3BB287;
}

.petColor:hover {
    color: #3BB287;
}

.bGap {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    transition-duration: 500ms;
}

.icon {
    width: 35px;
    transition-duration: 500ms;
    margin-top: 10px;
    margin-bottom: 5px;
}

#estetos {
    width: 28px;
    transition-duration: 500ms;
}

.bGap:hover {
    border-top: 3px solid #3BB287;
}

.icon:hover {
    width: 45px;
}

#news {
    width: 45px;
    transition-duration: 500ms;
}

#estetos:hover {
    width: 35px;
}