body {
    background-image: url('../assets/img/huellas_modoNormal.png');
    font-family: 'Inria Sans' !important;
}

.galeria .imagen {
    width: 300px;
}

.imagen img {
    max-width: 300px;
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 15px;
}

.galeria .imagen img, #mascotas .mascota img {
    /* position:relative; */
    transition: transform .2s;
}

.galeria .imagen:hover img {
    opacity: 0.7;
    border: #3BB387;
    border-style: solid;
    border-width: 15px;
    padding: 0;
    transform: scale(1.10);
}

#mascotas .mascota:hover img {
    opacity: 0.7;
    border: #3BB387;
    border-style: solid;
    transform: scale(1.10);
}

#mascotas .mascota:hover p {
    font-weight: 800;
}

.galeria .imagen p.hint {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: transform .2s;
}

.galeria .imagen:hover p.hint {
    opacity: 1;
    /* transform: scale(10); */
    font-size: large;
    font-weight: 800;
    transform: translate(-50%, -50%);
}

.galeria .imagen {
    position: relative;
}

#perfil .foto-perfil {
    display:flex;
}

#perfil .foto-perfil img {
    width: 300px;
    height: 300px;
}

#perfil img.propietario {
    /* position: absolute; */
    /* left: 263px;
    top: 150px; */
    width: 150px;
    height: 150px;
    margin-left:-100px;
    margin-top:150px;
}


#mascotas .mascota img {
    width: 150px;
    height: 150px;
}


.perfil-mascota {
    display: none;
}

.perfil-mascota.active {
    display: inline;
}

.detalle-mascota .imagen img {
    width: 300px;
    height: 300px;
}

.datos-generales .logo {
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 20px;
}

#mascotas h3 {
    /* font-size: x-large; */
    color: #3BB387;
    /* font-weight: 700; */
    text-align: center;
    padding-bottom: 20px;

}


/* 
Modo Claro
3BB387 - Verde
FFFFFF - Blanco
EBF2EB - Gris
F5954F - Naranja

 
Modo Obscuro
3BB387 - Verde
000000 - Negro
EBF2EB - Gris
F5954F - Naranja
*/